@model GruppL_IK073G_ht19.Models.key_abilitiy

@{
    ViewBag.Title = "Delete";
}



<h3>Är du säker på att du vill radera detta?</h3>
<div>
    <h4>Kärnförmåga</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            Förmåga
        </dt>

        <dd>
            @Html.DisplayFor(model => model.abilitiy)
        </dd>



    </dl>

    @using (Html.BeginForm())
    {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            <input type="submit" value="Radera" class="btn btn-default" /> |
            
        </div>
    }
</div>
<a href="/key_abilitiy/Index"><button class="logout">Tillbaka</button></a>
