@model IEnumerable<GruppL_IK073G_ht19.Models.key_abilitiy>

@{
    ViewBag.Title = "Index";
}

<h2>Kärnförmågor</h2>
<a href="/key_abilitiy/Create"><button class="logout"><b>+</b>Lägg till</button></a>


<table class="table">
    <tr>
        <th>
            Förmågor
        </th>

    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.abilitiy)
            </td>

            <td>
                @Html.ActionLink("Redigera", "Edit", new { id = item.key_abilitiy_id }) |
                @Html.ActionLink("Radera", "Delete", new { id = item.key_abilitiy_id })
            </td>
        </tr>
    }

</table>
<a href="/Persons/Details/1"><button class="logout">Tillbaka till profilen</button></a>
<a href="/Languages/Index/1"><button class="logout">Uppdatera språk</button></a>