* {
  
}
.loginform{
    margin: 10px 30px 300px 5px;
    text-align:center;
}

#login {
    width: 40%;
    height: 70%;
    background: #b0bdd1;
    margin: 5% 10% 10% 40%;
    border: 5px double;
    box-shadow: 0px 10px 13px -7px #000000, 5px 5px 8px 5px rgba(0,0,0,0.48);
    box-shadow: 0px 10px 13px -7px #000000, 5px 5px 8px 5px rgba(0,0,0,0.48);
}
#login label span {
    cursor: pointer;
    color: black;
    width: 30px;
    display: block;
    margin: 5px 0;
    font-weight: 900;
    margin: 5% 5% 1% 10%;
}
#loginRubrik {
    color: black;
    margin: 5% 5% 20% 7%;
    text-align: center;

}
.input{
    padding: 5px;
    width: 250px;
    height: 30px;
}


input {
    border: 1px solid grey;
    width: 50%;
    height: 20px;
    margin: 0% 5% 1% 10%;
    color: black;
    padding: 1%;
}
.down {
  margin: 40px 0px 0px 50px;
}
.new {
    float: left;
    margin-left: 90px;
    padding-top: 150px;
    padding-right: 10px;

    color: #000;
}
.buttons {
    float: left;
    margin-left: 50px;
    padding-top: 20px;
    padding-right: 10px;
    
}

.button1 {
    margin: 15px;
    height: 30px;
    width: 100px;
    cursor: pointer;
    background: #FFF;
    font-size: 15px;
    font-weight: bold;
    padding: 6px 37px 6px 6px;
    color: black;
    text-decoration: none;
    text-align: center;
    box-shadow: 3px 4px 0px 0px #1564ad;
}


.button2 {
    margin: 20px;
    height: 30px;
    width: 100px;
    cursor: pointer;
    background: #FFF;
    font-size: 15px;
    font-weight: bold;
    padding: 6px 37px 6px 6px;
    color: black;
    text-decoration: none;
    text-align: center;
    box-shadow: 3px 4px 0px 0px #1564ad;
}


.clear {
    clear: right;
}

body {
    padding-top: 50px;
    padding-bottom: 20px;
}

/* Set padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

.bLinks {
    font-size: 30px;
}
/* Override the default bootstrap behavior where horizontal description lists 
   will truncate terms that are too long to fit in the left column 
*/
.dl-horizontal dt {
    white-space: normal;
}

.buttonPdf {
    background-color: cadetblue;
    color: black;
    padding: 15px 20px;
    margin: 8px 0;
    cursor: pointer;
    width: 20%;
}
/* Set width on the form input elements since they're 100% wide by default */
input,
select,
textarea {
    max-width: 280px;
}