@model GruppL_IK073G_ht19.Models.Competences

@{
    ViewBag.Title = "Delete";
}



<h3>Är du säker på att du vill radera detta?</h3>
<div>
    <h4>Kompetenser</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            Kompetens
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Competence)
        </dd>

    </dl>

    @using (Html.BeginForm())
    {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            <input type="submit" value="Radera" class="btn btn-default" /> |
          
        </div>
    }
</div>
<a href="/Competences/Index/1"><button class="logout">Tillbaka</button></a>
