@model GruppL_IK073G_ht19.Models.Languages

@{
    ViewBag.Title = "Delete";
}

<h2>Radera</h2>

<h3>Är du säker på att du vill radera detta?</h3>
<div>
    <h4>Språkkunskaper</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            Språk
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Language)
        </dd>

        <dt>
            Gradering
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Grade)
        </dd>

    </dl>

    @using (Html.BeginForm())
    {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            <input type="submit" value="Radera" class="btn btn-default" /> |

        </div>
    }
    <a href="/Languages/Index"><button class="logout">Tillbaka</button></a>

</div>
