@model IEnumerable<GruppL_IK073G_ht19.Models.Languages>

@{
    ViewBag.Title = "Index";
}

<h2>Språkförmågor</h2>

<a href="/Languages/Create"><button class="logout"><b>+</b>Lägg till</button></a>

<table class="table">
    <tr>
        <th>
            Språk
        </th>
        <th>
            Gradering
        </th>

    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Language)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Grade)
            </td>

            <td>
                @Html.ActionLink("Redigera", "Edit",  new { id = item.Language_id }) |
                @Html.ActionLink("Radera", "Delete",  new { id = item.Language_id })
            </td>
        </tr>
    }

</table>

<a href="/Persons/Details/1"><button class="logout">Tillbaka till profilen</button></a>
<a href="/Competences/Index/1"><button class="logout">Uppdatera kompetens</button></a>