@{
    ViewBag.Title = "About";
}
@*<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>*@
<div class="jumbotron">
    <h1>Om IT for U</h1>
    <hr />
    Välkommen till <strong>IT for U</strong>, Sveriges ledande rekryterings sida inom IT.
    <br />
    <h2>Vår vision</h2>
    Att skapa möjligheter på den globala arbetsmarknaden för våra kunder.
    <br />
    <h2> Vilka är vi?</h2>
    <strong>IT for U</strong> startade ur ett samtal mellan de fyra vännerna Sara, Thea, Ninni och Therese och lanserades officiellt i november 2019.

</div>
@*<div class="jumbotron">
    <h1>Om IT for U</h1>
    <hr />
    <br />
    <p>Välkommen till IT for U, Sveriges ledande rekryterings sida inom IT.</p>
    <br />
    <h2>Vår vision</h2>
    <br />
    <p> Att skapa möjligheter på den globala arbetsmarknaden för våra kunder.</p>
    <br />
    <h2> Vilka är vi?</h2>
    <br />
    <p>IT for U startade ur ett samtal mellan de fyra vännerna Sara, Thea, Ninni och Therese och lanserades officiellt i november 2019.</p>

</div>*@