@{
    ViewBag.Title = "Contact";
}
@*<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>*@
<div class="jumbotron">
    <h1>Kontakt</h1>
    <hr />
    <address>
        Störstagatan 14<br />
        123 45 Storstaden<br />
        <abbr title="Phone">P:</abbr>
        +46 1010101010
    </address>

    <address>
        <strong>Support:</strong>   <a href="mailto:Support@example.com">Support@example.com</a><br />
        <strong>Kontakt:</strong> <a href="mailto:Marketing@example.com">Kontakt@example.com</a>
    </address>

</div>