@{

    ViewBag.Title = "Home Page";
    <link rel="stylesheet" type="text/css" href="~/Content/Login.css">
    
}

<form id="login">
    <h1 id="loginRubrik">Logga in</h1>
    <div class="loginform">
        <div>

            <label>
                <span>Användarnamn </span>
                <input id="input" placeholder="Skriv ditt användarnamn.." type="text" tabindex="1" autofocus>
            </label>

        </div>

        <div>

            <label>
                <span>Lösenord </span>
                <input id="input" placeholder="Skriv ditt lösenord.." type="password" tabindex="2">
            </label>

        </div>

        <div class="down">
             <div class="buttons">
                 <a href="/Persons/Index" id="button" class="button1" type="button" tabindex="3">Kund</a>

                 <a href="/Customers/Index" id="button" class="button2" tabindex="4">Frilansare</a>
             </div>

             <div class="clear"></div>



             <div class="new">
                 <a href="/Customers/Create" id="new1" type="button" tabindex="5">Ny kund?</a>
                 <a href="/Persons/Create" id="new2" type="button" tabindex="6">Ny frilansare?</a>
             </div>

             <div class="clear"></div>
         </div>

    </div>

</form>

