@{

    ViewBag.Title = "Home Page";
    <link rel="stylesheet" type="text/css" href="~/Content/Login.css">
    
}

<form id="login">
    <h1 id="loginRubrik">Logga in</h1>
    <div class="loginform">
        <div>

            <label>
                <span>Användarnamn </span>
                <input id="input1" class="input" placeholder="Skriv ditt användarnamn.." type="text" tabindex="1" autofocus>
            </label>

        </div>

        <div>

            <label>
                <span>Lösenord </span>
                <input id="input2" class="input" placeholder="Skriv ditt lösenord.." type="password" tabindex="2">
            </label>

        </div>

        <div class="down">
             <div class="buttons">
                 <a href= "/Persons/CIndex" id="button" class="button1" type="button" tabindex="3" onclick="return check()">Kund</a>

                 <a href="/Persons/Details/1" id="button" class="button2" tabindex="4" onclick="return check()">Frilansare</a>
             </div>

             <div class="clear"></div>



             <div class="new">
                 <a href="/Customers/Create" id="new1" type="button" tabindex="5">Ny kund?</a>
                 <a href="/Persons/Create" id="new2" type="button" tabindex="6">Ny frilansare?</a>
             </div>

             <div class="clear"></div>
         </div>

    </div>

</form>

<script>
    function check() {
        var input1 = document.getElementById("input1").value;
        var input2 = document.getElementById("input2").value;

        if (input1 == "" || input2 == "") {


            window.alert("Fyll i båda rutor");

            return false;
        }
        return true;
    }

</script>
