@model GruppL_IK073G_ht19.Models.Expertises

@{
    ViewBag.Title = "Delete";
}


<h3>Är du säker på att du vill radera detta?</h3>
<div>
    <h4>Expertiser</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            Expertis
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Expertise)
        </dd>

        <dt>
            Kompetens
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Competences.Competence)
        </dd>

    </dl>

    @using (Html.BeginForm())
    {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            <input type="submit" value="Radera" class="btn btn-default" /> |

        </div>
    }
</div>
<a href="/Expertises/Index"><button class="logout">Tillbaka</button></a>
