
@{
    ViewBag.Title = "Login";
    Layout = null;
}

<h3>IT for U</h3>



<form id="login">
    <h1 id="loginRubrik">Logga in</h1>
    <div>

        <label>
            <span>Användarnamn *</span>
            <input id="Användarnamn" placeholder="Skriv ditt användarnamn.." type="text" tabindex="1" autofocus>
        </label>

    </div>

    <div>

        <label>
            <span>Lösenord *</span>
            <input id="password" placeholder="Skriv ditt lösenord.." type="password" tabindex="2">
        </label>

    </div>

    <a href="#" id="skicka-meddelande" name="skicka-meddelande" tabindex="6" onclick="check()">Skicka meddelande</a>

</form>

